h1 {
    padding: 10px;
}

h2 {
    margin-bottom: 20px;
}

.lane h2 {
    text-align: center;
}

.lane {
    height: inherit;
}

.lane:first-child {
    border-right: dashed 1px lightgray;
}

.lane:last-child {
    border-left: dashed 1px lightgray;
}

.tasks {
    text-align: left;
    margin-bottom: 20px;
}

.panel-body {
    height: 200px;
    overflow-y: auto;
}

.card-description {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: dashed 1px lightgray;
    padding: 5px;
    width: 100%;
    word-break: break-all;
}

.kanban-buttons {
    display: table-cell;
    vertical-align: bottom;
}

.todo {
    background-color: #c4e3f3;
    color: #31708f;
    width: 50px;
    margin-right: 10px;
}

.wip {
    background-color: #faf2cc;
    color: #8a6d3b;
    width: 50px;
    margin-right: 10px;
}

.done {
    background-color: #d0e9c6;
    color: #3c763d;
    width: 50px;
    margin-right: 10px;
}
