html, body, #root, .app {
    height: 100%;
}

.lane h2 {
    text-align: center;
}

.lane {
    height: 100%;
}

.lane:first-child {
    border-right: dashed 1px lightgray;
}

.lane:last-child {
    border-left: dashed 1px lightgray;
}

.tasks {
    text-align: left;
}